**/Makefile
**/obj
**/*.log
/cache
dist/**
!dist/*sh
!dist/resultReference

*.json
*.filters
*.sdf
*.bc
*.o

!Resources/**
*.vcxproj
*.user
*.sln
*.opendb
*.def
.DS_Store
.vs/
build/

result.xml
UnitTest/bitcodes/*.fatbin
Test/SimpleD3D12/cache/**

ParallelPrimitives/cache/KernelArgs.h
ParallelPrimitives/cache/Kernels.h
ParallelPrimitives/cache/oro_compiled_kernels.h
